*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFF3FF;
}

h1{
    font-size: 35px;
    font-weight: 900;
    color: #FFCB05;
    margin-top: 15px;
    text-align: center;
}

.container{
    position: absolute;
    /* go hand and hand */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /*  */
    height: 500px;
    width: 350px;
    border: 5px solid black;
    border-radius: 10px;

}
#card hr{
    border: 1px solid black;
}
#card{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}
#card img{
    display: block;
    position: relative;
    max-height: 200px;
    width: 180px;
    margin: 20px auto;
}
#name{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
#number{
    font-size: 16px;
    font-weight: 400;
}
#health{
    float: right;
    font-size: 16px;
    font-weight: 500;
}
#health span{
    font-size: 22px;
    font-weight: 500;
}
#type{
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin: 10px auto;
    text-align: center;
    width: 50%;
    background-color: yellow;
    border-radius: 50px;
}

#row{
    display: flex;
    justify-content: center;
    text-align: center;
}
#move_set1, #move_set2{
    text-transform: capitalize;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    border-radius: 50px;
    width: 50%;
} 

#column{
    display: inline-block;
    text-align: center;
    margin: 10px 20px;
}
#column span{
    font-weight: 500;
}

#btn{
    display: block;
    position: relative;
    padding: 15px 60px;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 900;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}
#btn:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
}

@media screen and (min-width: 576px){
    .container{
        height: 55%;
        width: 70%;
    }
    #move_set1, #move_set2{
        font-size: 14px;
        font-weight: 400;
        margin: 3px;
    } 
    #column{
        display: inline-block;
        margin: 5px;
    }
}
